/[Bb]uild/
/[Rr]elease/
/[Dd]ocumentation/
/[Xx]ml[Dd]ocumentation/
/SandcastleTemp/
-*resharper.user
*.ReSharper
_ReSharper.*/
*.user
*.suo
*.cache
*.ndproj
NDependOut/
[Bb]in/
[Oo]bj/
[Aa]ssembly[Ii]nfo.cs
*.aux
*.log
*.toc
StyleCop.Cache
*.vs10x